@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body, button, input, textarea, a {
  font-size: 14px;
  font-family: 'Space Grotesk', sans-serif;
  color: #611f69;
}
a {
  text-decoration: none;
}
h1::after {
  content: '*';
  transform: rotate(-15deg);
  display: inline-block;
}
body {
  background: #fbcc5c;
  color: #611f69;
  margin: 20px;
}
button, a:not(.Project) {
  background: none;
  border: none;
  padding: 2px 0;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid #611f69;
  text-transform: uppercase;
}
img, canvas {
  visibility: hidden;
  position: absolute;
  top: 0;
}
input, textarea {
  background: none;
  border: 2px solid #611f69;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}
input:focus-visible, textarea:focus-visible {
  outline-color: #611f69;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin: 0;
  margin-bottom: 5px;
}
h2 {
  padding: 5px 0;
  border-bottom: 2px solid #611f69;
}
.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: minmax(0, 1fr);
}
.Project {
  border: 2px solid #611f69;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.Project.mine::after {
  content: '';
  border-bottom: 2px solid #611f69;
  height: 40px;
  position: absolute;
  width: 80px;
  transform: rotate(40deg);
  right: -45px;
  top: -25px;
  background: #611f69;
}
.image {
  margin: 0 auto;
  padding: 1px;
  font-size: calc((100vw - 40px - 4px - 2px) / (80 * 0.6));
  line-height: 0.6;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.title {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.title h3 {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.title span {
  font-size: 12px;
  white-space: nowrap;
}
.title b {
  font-weight: normal;
  text-align: right;
  font-size: 18px;
}
.description {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin: 10px 0 20px;
}
.bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.bottom div {
  width: 100%;
}
.progress {
  border: 1px solid #611f69;
  height: 8px;
  border-radius: 99px;
  margin-bottom: 10px;
  overflow: hidden;
}
.progress > div {
  background: #611f69;
  height: 100%;
}
.amounts {
  display: block;
  text-align: right;
}
@media (min-width: 600px) {
  h2 {
    padding-top: 20px;
  }
  .projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .image {
    font-size: calc((100vw - 40px - 20px - 8px - 4px) / 2 / (80 * 0.6));
  }
}
@media (min-width: 900px) {
  .projects {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .image {
    font-size: calc((100vw - 40px - 40px - 12px - 6px) / 3 / (80 * 0.6));
  }
}
@media (min-width: 1200px) {
  .projects {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .image {
    font-size: calc((100vw - 40px - 60px - 16px - 8px) / 4 / (80 * 0.6));
  }
}
.NewProject {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fbcc5c;
  border: 2px solid #611f69;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  padding-bottom: 0;
}
.NewProject::after {
  content: '';
  border-top: 2px solid #611f69;
  margin: 20px -20px 2px;
}
.flex {
  display: flex;
}
.action {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.NewProject h3 {
  margin: 0;
  text-align: center;
}
.NewProject textarea {
  margin-bottom: 10px;
}
.NewProject input {
  margin-bottom: 10px;
}
input[name="image"] {
  width: 100%;
}
input[name="requestedAmount"] {
  width: 100px;
  margin-left: 10px;
  text-align: right;
}
::placeholder {
  color: rgba(97, 31, 105, 0.6);
}
@media (min-width: 600px) {
  .NewProject {
    top: 60px;
    height: auto;
  }
  input[name="image"] {
    width: 100%;
  }
}
.ProjectInfo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fbcc5c;
  border: 2px solid #611f69;
  border-radius: 10px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProjectInfo .bar {
  padding: 20px 20px 0;
  position: sticky;
  top: 0;
  background: #fbcc5c;
}
.ProjectInfo .image {
  margin-top: 20px;
  font-size: calc((100vw - 4px - 2.9px) / (80 * 0.6))
}
.ProjectInfo .content {
  padding: 0;
  position: relative;
}
.ProjectInfo .title {
  margin: 20px 20px 10px;
  display: block;
}
.ProjectInfo .description {
  margin: 0 20px;
  display: block;
}
.ProjectInfo .amounts {
  text-align: left;
}
.ProjectInfo .progress {
  margin-top: 10px;
  margin-bottom: 0;
}
ul {
  padding-left: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column-reverse;
}
ul:empty {
  margin-bottom: 0;
}
li {
  list-style-type: square;
  margin: 5px 0;
}
li span {
  font-size: 12px;
}
.interact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  bottom: 2px;
  border-top: 2px solid #611f69;
  border-bottom: 2px solid #611f69;
  right: 0;
  left: 0;
  padding: 10px 20px;
  background: #fbcc5c;
}
.interact span {
  font-weight: bold;
}
.interact input {
  border: none;
  width: 50px;
  font-weight: bold;
}
.connect {
  margin-right: auto;
  margin: 10px auto 10px 0;
}
@media (min-width: 600px) {
  .ProjectInfo {
    top: 60px;
    height: auto;
    max-height: 80vh;
  }
  .ProjectInfo .image {
    font-size: calc((600px - 40px - 4px - 2.9px) / (80 * 0.6))
  }
  p.connect::before {
    content: 'Current balance: ';
  }
  .interact input {
    width: 70px;
  }
  .interact .donate::after {
    content: ' now';
  }
}
.Message {
  position: fixed;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  background: #fbcc5c;
  border: 2px solid #611f69;
  border-radius: 10px;
  padding: 10px 10px 10px 15px;
  display: flex;
  align-items: center;
  word-break: break-word;
  z-index: 1;
}
.Message span:first-letter {
  text-transform: capitalize;
}
.Message span {
  margin-right: 15px;
}
.Message button {
  align-self: self-start;
}
.Outlet .overlay:nth-child(2) {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.disabled {
  pointer-events: none;
}